body{
    font-style: italic; color: black;
    margin: 0cm;
    }
header{
    background-color: rgb(222, 135, 203);
    color: whitesmoke;
}
h1{
    color:rgb(105, 237, 100);
    background-color: rgb(62, 149, 165);
    text-align: center;
    padding: 1px;
    font-family: sans-serif; 
}