body {
    background-color: blueviolet;
}

header {
    background-color: brown;
}

div {
    background-color: green;
}

section {
    background-color: yellow;
}

footer {
    background-color: brown;
}